{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block category %}

    <li class="dropdown-header">Available Categories</li>
    {% for c in categories %}
        <li><a href="{{ c.get_absolute_url }}"> {{ c.category_name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="col col-md-4"></div>
    {% if message %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    {% else %}
    <form method="post" action="">
    {% csrf_token %}
    {{ form |crispy }}
    <input type="submit" value="Submit" class="btn  btn-success">
    </form>
    {% endif %}
{% endblock %}