{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block category %}

    <li class="dropdown-header">Available Categories</li>
    {% for c in category %}
        <li><a href="#"> {{c.category_name }}</a></li>
    {% endfor %}

{% endblock %}

{% block content %}
<h6>Please enter Your number and the amount of fish you need(kgs) In the form below</h6>
<form method="post" action="">
{% csrf_token %}
{{ form | crispy }}
<input type="submit" value="submit" class="btn btn-success">
</form>

{% endblock %}