{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block category %}
    <li class="dropdown-header">Available Categories</li>
    {% for c in category %}
        <li><a href="#"> {{c.category_name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class = "row">
    <div class="col col-sm-6">
        <form action="" method="post" class="form-horizontal" role="form">

                {{ seller_form | crispy }}
                {{ user_form | crispy }}
                {% csrf_token %}
                <input type="submit" value="Register" class="btn btn-success">

        </form>
    </div>
    </div>
{% endblock %}
