{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block category %}
    <li class="dropdown-header">Available Categories</li>
    {% for c in category %}
        <li><a href="#"> {{ c.category_name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="allign col col-md-6">
                <form method="post" action="{% url 'shop:index' %}">
                        {{ seller_form | crispy }}
                        {{ user_form | crispy }}
                        {% csrf_token %}
                        <input type="submit" value="Register" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
